
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Horarios</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/crearCurso">Crear Curso</a></li>
            <li  class="active"><a href="/crearGrupo">Crar Grupo</a></li>
            <li><a href="/crearProfe">Crear Profesor</a></li>
            <li><a href="/crearUsuario">Crear Usuario</a></li>
            <li><a href="/editarCurso">Editar Curso</a></li>
            <li><a href="/editarGrupo">Editar Grupo</a></li>
            <li><a href="/editarProfe">Editar Profesor</a></li>
            <li><a href="/editarUsuario">Editar Usuario</a></li>
            <li><a href="/borrar">Borrar</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

        

    <!-- aqui van los datos-->
    <div class="jumbotron" style="margin:60px; border-style:solid; border-color:#58d3f7">
      <center><h2><b>Registro de Grupo</center></b></h2>
      <center><table>
        <tr>
        <td>
          <table class="table table-hover" border="0">
          <br>
          <tr>
            <td></td>
            <td>Curso:</td>
              <td>
                  <select id="slCurso" class="input-medium">
                     <option ng-repeat="curso in cursos">{{curso.nombre}}</option>
                  </select>
              </td>  
          </tr>
          <tr>
            <td></td>
            <td>Número:</td>  
            <td><input type="text" class="span2" ng-model="numero" maxlength="200" size="50"></td>
          </tr>
            <tr>
            <td></td>
            <td>Sede:</td>  
            <td><input type="text" class="span2" ng-model="sede" maxlength="200" size="50"></td>
          </tr>  
            
          <tr>
            <td></td>
            <td>Profesor</td>  
            <td><select id="slProfe" class="input-medium">
                     <option ng-repeat="profesor in profesores">{{profesor.nombre}}</option>
                  </select>
          </tr>
            <tr>
            <td></td>
            <td>Aula:</td>  
            <td><input type="text" class="span2" ng-model="aula" maxlength="200" size="50"></td>
          </tr>
        </tr>

                  
        </table>
        </td>
        </tr>   
        

        
        <tr>
        <td>
          <table class="table table-hover" border="0">
                    <tr><center>Horario</center></tr>
          <br>
          <tr>
            <td>Día:</td>
              <td><select id="slDia" class="input-medium">
                     <option ng-repeat="dia in dias">{{dia.nombre}}</option>
                  </select>
              </td>  
          </tr>
          <tr>
            <td>Hora Inicio:</td>  
            <td><select id="slHoraI" class="input-medium">
                     <option ng-repeat="hora in horas">{{hora.h}}</option>
                  </select>
                <select id="slMinI" class="input-medium">
                     <option ng-repeat="minuto in minutos">{{minuto.m}}</option>
                  </select>

              </td>
          </tr>
        <tr>
            <td>Hora Final:</td>  
            <td><select id="slHoraF" class="input-medium">
                     <option ng-repeat="hora in horas">{{hora.h}}</option>
                  </select>
            <select id="slMinF" class="input-medium">
                     <option ng-repeat="minuto in minutos">{{minuto.m}}</option>
                  </select>

              </td>
                <td>
                <a href="" ng-click="registro()" class="btn btn-success">Agregar Horario<span class="glyphicon glyphicon-ok-sign"/>                 </a>
            
            </td>
          </tr>
        
        </tr>
        
      </table></center>
        
    <center><table>
    
    </table></center>
      <center>
        <a href="" ng-click="registro()" class="btn btn-success">Aceptar  <span class="glyphicon glyphicon-ok-sign"/></a>
      </center>
    </div>


    <br><br>

      <hr>

    </div> <!-- /container -->        
